@import "~@deja-vu/themes/scss/minimalist.scss";
// required by geolocation
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "~leaflet-control-geocoder/dist/Control.Geocoder.css";

main { margin: 30px; }
.side-by-side { display: flex; }
.map { height: 300px !important; }
.evt { margin-right: 20px; }
